<!DOCTYPE html>
<html>
<body>

<h1>Tratamiento de datos a través de nuestra FanPage de Facebook</h1>
<ph> <h4>Responsabilidad </h4>
    
    Operamos lo que se denomina una «FanPage» en la plataforma de red social Facebook, un servicio proporcionado por Facebook Ireland Ltd., 4 Grand Canal Square Grand Canal Harbour, Dublín 2, Irlanda, para comunicarnos con los visitantes activos en ella (= fans) que han marcado nuestra FanPage con un «Me gusta» y, entre otras cosas, informarles sobre nuestros productos y servicios. 
    Hemos celebrado un acuerdo con Facebook sobre responsabilidad conjunta en virtud del art. 26 del RGPD, que regula la distribución de las obligaciones de protección de datos (https://www.facebook.com/legal/terms/page_controller_addendum). 
    En particular, Facebook asume la obligación de informar a los visitantes, garantizar la seguridad de los datos y notificar violaciones de datos y es el contacto prioritario para que los propietarios de los datos ejerzan sus derechos. 
    Datos de contacto de los corresponsables del tratamiento.
    <br><br>
    • Facebook Ireland Ltd.<br>
    4 Grand Canal Square Grand Canal Harbour D2 Dublín Irlanda <br>
    <br>
    • Proyecto Diabetes Profiler<br>
    Lima – Peru
    <br>
    <h4>Bases legales</h4>
    
    El tratamiento de datos relativo a la operación de la FanPage se basa en nuestro interés legítimo de acuerdo con el art. 6, párrafo 1, oración 1, letra «f», del RGPD (información sobre nuestros productos y servicios; comunicación con los visitantes). Si Facebook obtiene el consentimiento de los visitantes para tratar sus datos (p. ej., marcando una casilla de verificación o haciendo clic en un botón), la base legal para el tratamiento de datos será el art. 6, párrafo 1, oración 1, letra «a», del RGPD.
    
    <h4>Fines del tratamiento de datos</h4>
    
    El tratamiento de la información generada por la herramienta Insights tiene como finalidad permitirnos recibir estadísticas que Facebook elabora sobre la base de las visitas a nuestra FanPage para controlar la comercialización de nuestras actividades. De esta forma, podemos conocer los perfiles de los visitantes y su comportamiento de uso de las aplicaciones disponibles en nuestra FanPage. Esto nos permite proporcionar contenido y funciones más relevantes dentro y fuera de Facebook que pueden ser de mayor interés para usted.
    Para que podamos identificar cómo podemos lograr mejor nuestros objetivos comerciales con nuestra FanPage, también se evalúan y ponen a nuestra disposición datos demográficos y geográficos sobre la base de la información recopilada. Podemos utilizar esta información para colocar anuncios personalizados sin tener conocimiento inmediato de la identidad del visitante. Si los visitantes usan Facebook en varios dispositivos, la recopilación y la evaluación podrán tener lugar en todos los dispositivos en los que los visitantes hayan iniciado sesión en su perfil. 
    Dentro de los ajustes de preferencias publicitarias, los visitantes pueden influir en el alcance de la información recopilada sobre su comportamiento de uso cuando visitan nuestra página de Facebook (https://www.facebook.com/adpreferences/advertisers/). 
    También utilizamos nuestra FanPage para comunicarnos con nuestros clientes, con partes interesadas y con visitantes de Facebook e informarles sobre nuestra gama de servicios. En este contexto, podemos recibir más información, por ejemplo, sobre la base de comentarios de visitantes, mensajes privados o la razón por la que nos sigue o comparte nuestro contenido. El tratamiento de datos tiene lugar exclusivamente con el propósito de comunicarnos e interactuar con usted.
    
   <h4>Categorías de datos</h4> 
    
    Al operar una FanPage, se recopilan en particular los siguientes datos sobre el comportamiento de los visitantes:<br>
    • Acceso a una página, una publicación o un vídeo desde una cierta página.<br>
    • Suscripción o cancelación de la suscripción a una página.<br>
    • Marcar una página o una publicación con «Me gusta» o «No me gusta».<br>
    • Recomendar una página en una publicación o un comentario.<br>
    • Comentar o compartir una publicación de una página o responder a ella (incluida la forma de la respuesta).<br>
    • Ocultar una publicación o marcarla como spam.<br>
    • Hacer clic en un enlace que lleva a la página desde otra página de Facebook o desde un sitio web fuera de Facebook.<br>
    • Pasar el ratón sobre el nombre o la imagen de perfil de una página para obtener una vista previa del contenido de la página.<br>
    • Hacer clic en el botón de página web, el botón de número de teléfono, el botón «Planificar ruta» o cualquier otro botón de una página.<br>
    • Información sobre si ha iniciado sesión en un ordenador o un dispositivo móvil mientras visita una página o interactúa con ella o su contenido.<br>
    <br>
    Si inicia sesión en Facebook como visitante, se almacenará una cookie con su identificador de Facebook en su dispositivo. Esto permite a Facebook saber que ha visitado la página y cómo la ha utilizado. Lo mismo se aplica al resto de las páginas de Facebook.<br>
    Si desea evitarlo, debe cerrar su sesión de Facebook o desactivar la función «Permanecer conectado», eliminar las cookies de su dispositivo y cerrar y reiniciar su navegador. De esta forma, se eliminará la información de Facebook por la que se le pueda identificar directamente.<br>
    Las estadísticas de visitantes elaboradas a través de Facebook Insights se nos transmiten exclusivamente de forma anónima. No tenemos acceso a los datos subyacentes.<br>
    <br>
    <h4>Cookies y estadísticas</h4> 
    
    Cuando visita nuestra FanPage, Facebook procesa cookies y recopila, entre otras cosas, su dirección IP (anonimizada según sus propias directrices) y otra información disponible en su PC en forma de cookies. Esta información se utiliza para proporcionarnos, como operador de la página de Facebook, información estadística sobre el uso de la página de Facebook. 
    Facebook proporciona más información sobre ello en el siguiente enlace: https://www.facebook.com/help/pages/insights.<br>
    Encontrará más información sobre el uso de cookies por parte de Facebook en https://www.facebook.com/policies/cookies/. Facebook ofrece la opción de eliminar las cookies mediante exclusión voluntaria: https://www.facebook.com/adpreferences/ad_settings/?entry_product=account_setting s_menu <br>
    Existe la posibilidad de que Facebook cree entradas en Local Storage, un servicio de almacenamiento web mediante el que los sitios web y las aplicaciones de Javascript pueden guardar datos en el navegador, que se conservan incluso después de cerrar la ventana del navegador. Esto permite guardar más datos en el dispositivo sin una fecha de vencimiento que cuando se utilizan cookies. De esta forma, se puede reducir el flujo de datos entre cliente y servidor, lo que mejora el rendimiento de las aplicaciones.
    
    <h4>Plazo de conservación</h4>
    
    Facebook almacena datos hasta que ya no son necesarios para proporcionar los servicios y los productos de Facebook o hasta que se elimina la cuenta de visitante, según lo que ocurra primero. Esto se determina caso por caso y depende de criterios como el tipo de datos, el motivo de su recopilación y tratamiento o los requisitos de almacenamiento legales u operativos relevantes.
    
    <h4>Transmisión de datos</h4>
    
    Los datos de los visitantes son transmitidos por Facebook Ireland Ltd. a Facebook Inc., 1 Hacker Way, Menlo Park, CA 94025, EE. UU. Facebook recurre a las cláusulas contractuales estándar de la Unión Europea como base legal para la transmisión.
    
    <h4>Derechos del propietario de los datos</h4> 
    
    Le señalamos que, si desea solicitar información o hacer valer algún otro de sus derechos como propietario de los datos conforme al RGPD, lo más efectivo es que contacte directamente con Facebook. Como operador de la FanPage, en general no tenemos acceso a los datos tratados por Facebook. Solo Facebook puede acceder a los datos del visitante y, por lo tanto, proporcionar información completa o aplicar otras medidas, como, por ejemplo, eliminar datos a petición de los visitantes. Para estos fines, Facebook pone a su disposición un formulario (https://www.facebook.com/help/contact/367438723733209).<br>
    Puede contactar con nosotros en cualquier momento para que le ayudemos a hacer valer sus derechos como propietario de los datos.<br>
    
    Como propietario de los datos, tiene en concreto los siguientes derechos:<br>
    
    • Tiene derecho a recibir información y una copia de sus datos personales almacenados por nosotros en cualquier momento de forma gratuita (véase el art. 15 del RGPD). Tiene derecho a que se rectifiquen o completen sus datos en caso de que se hayan almacenado incorrectamente (véase el art. 16 del RGPD).<br>
    • Tiene derecho a hacer que se restrinja el tratamiento de sus datos (véase el art. 18 del RGPD) y el derecho a que se eliminen sus datos (véase el art. 17 del RGPD). No podremos eliminar sus datos si estamos obligados a proseguir su almacenamiento para ejecutar el contrato o debido a otros requisitos legales de almacenamiento. En tales casos, bloquearemos sus datos en lugar de eliminarlos. <br>
    • También tiene derecho a solicitar que le proporcionemos aquellos de sus datos que hayamos almacenado y a transferirlos a otra empresa o solicitar que los transfiramos nosotros mismos (véase el art. 20 del RGPD).<br>
    • Tiene derecho a oponerse al tratamiento de sus datos en el futuro (véase el art. 21 del RGPD).<br>
    • Además, tiene derecho a revocar su consentimiento para el futuro (véase el artículo 7, párrafo 3, del RGPD).<br>
    • Puede dirigir sus quejas a las autoridades de supervisión competentes en materia de protección de datos (véase el art. 77 del RGPD):<br>
    <br>
    Autoridad responsable de protección de datos de Facebook dentro de la UE:<br>
    Comisión de Protección de Datos<br>
    Canal House, Station Road, Partarlington, Co. Laois, R32 AP23, Irlanda <br>
    Teléfono: +353 (0761) 104 800 <br>
    Número local: 1890 25 22 31 <br>
    Fax: +353 57 868 4757<br>
    E-mail: info@dataprotection.ie<br>
    <br>
    Autoridad responsable de protección de datos de Proyecto Diabetes Profiler: <br>
    Autoridad Nacional de Protección de Datos Personales (ANPD) <br>
    Scipión Llona 350 Lima - Lima - Miraflores - Perú <br>
    Central Telefónica: (01) 204 8020 Anexo 1030<br>
    E-mail: protegetusdatos@minjus.gob.pe<br>
    <br>
    En la política de privacidad de Facebook encontrará más información sobre la finalidad y el alcance de la recopilación y el tratamiento de datos, así como sobre sus derechos como propietario de los datos en el sentido del RGPD y sus opciones de oposición y configuración para proteger sus datos personales en Facebook:
    Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublín 2, Irlanda - Política de privacidad: <br>
    https://www.facebook.com/about/privacy/. Política de privacidad completa: https://de-de.facebook.com/full_data_use_policy.<br>
    </p>








</body>
</html>